.firstview img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  overflow: hidden;
  position: relative;
}
.firstview p{
  font-weight: bold;
  font-size: 40px;
  color: white;
  position: absolute;
  top: 160px;
  left: 600px;
}
.about_ttl {
  padding: 40px 450px;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.about p {
  text-align: center;
  line-height: 27px;
}
.about span {
  font-weight: bold;
}
.blog_ttl {
  padding: 40px 450px;
  text-align: center;
  font-weight: bold;
  font-size: 2em
}
.blog_img img{
  width: 100%;
  margin: 0 auto;
}
.flex_blog {
  display: flex;
  justify-content: space-between;
}
.blog_img p{
  font-size: 17px;
  margin-bottom: 30px;
  padding: 0 5px;
  font-weight: 60px;
  display: inline-block;
}
.blog_img {
  padding: 15px 25px;
}
.form_ttl {
  padding: 40px 300px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 2em
}
.form-item {
  display: flex;
  width: 780px;
  height: 30px;
  padding: 24px 0;
  margin: 0 auto;
}
.form-item-input {
  width: 1200px;
}
.form{
  width: 780px;
  margin: 20px auto;
}

.form-item-label {
  width: 780px;
  font-weight: bold;
  font-size: 16px;

}
.option {
  width: 780px;
  padding: 10px 50px;
  margin-left: -160px;
}
.form-item-textarea {
  width: 100%;
  height: 200px;
  padding: 20px 100px;
  margin-left: 30px ;
}
.form-btn {
  padding: 150px 180px;
  margin: 70px auto;
}
.form-btn1 {
  background-color: #dcdcdc;
  width: 200px;
  height: 40px;
  border: none;
}
.form-btn2 {
  color: white;
  background-color: #66cdaa;
  width: 200px;
  height: 40px;
  border: none;
}
