
a {
  text-decoration: none;
  color: inherit;
}
h1 img {
  width: 100px;
  height: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  padding: 20px 20px;
  background-color: none;
  color: grey;
}
.header-nav-list {
  display: flex;
  font-size: 10px;
}
.header-nav-item:not(:last-child) {
  margin-right: 30px;
}
.relative {
  position: relative;
}
.relative__img {
  margin: 0 0 0 auto;
  display: block;
  width: 70%;
}
span {
  color: #20b2aa;
}
h2 ,
h5 {
  font-family: 'Indie Flower', cursive;
}
.abosolute {
  position: absolute;
  top: 10%;
  color:#c71585;
  font-size: 50px;
  line-height: 70px;
  left: 220px;
}
h3 {
  position: absolute;
  top: 50%;
  color: #c71585;
  font-size: bold;
  left: 220px;
}
h4 {
  position: absolute;
  top: 55%;
  color: grey;
  font-weight: lighter;
  line-height: 20px;
  left: 220px;
}
h5 {
  color: #c71585;
}
.news {
  margin: 100px 260px 0;
  padding: 40px;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  color: grey;
}
.news_list {
  margin: 20px 300px;
  padding: 20px 0;
  color: #696969;
  border-top: 3px solid #d3d3d3;
  border-bottom: 3px solid #d3d3d3;
}
button {
  width: 80px;
  padding: 1px;
  margin: 20px;
  border-radius: 30px;
  color: white;
  border: none;
  background-color: #c71585;
}
ul {
  list-style: none;
  line-height: 50px;
}
ul li {
  padding: 5px;
  border-bottom: 2px solid #dcdcdc;
}
.about {
  background-color: #f5f5f5;
  margin: 50px 0;
  height: 500px;
}
.about h5 {
  text-align: center;
  padding: 40px 0 0 10px;
  font-size: 30px;
}
.about_ttl {
  text-align: center;
  padding: 20px 20px;
  font-size: 30px;
  font-weight: bold;
  color: grey;
}
.about_img {
  display: inline-block;
  width: 100%;
  margin-left: 800px;
  margin-top: 30px;
}
img {
  width: 400px;
}
h6 {
  color: grey;
  font-size: 25px;
  font-weight: normal;

}
.comment {
  display: flex;
  margin-top: -270px;
  width: 380px;
  margin-left: 180px;
  line-height: 25px;
}
.service,
.blog,
.company {
  margin: 200px 0 20px 0;
  width: 150px;
  text-align: right;
  line-height: 30px;
  color: grey;
}
.service_ttl{
  right: 300px;
}
.service p {
  font-size: 20px;
  font-weight: bold;
}
.grid__parent {
  display: grid;
  grid-template-rows: 200px 200px;
  margin: 30px 100px;
}
.grid__parent div {
  text-align: center;
}
.box1 {
  grid-column: 1/2;
  grid-row: 1/3;
  background: #c71585;
  color: white;
  justify-content: center;
}
.box2 {
  grid-column: 2/3;
  grid-row: 1/2;
  background: #ee82ee;
  color: white;
}
.box3 {
  grid-column: 2/3;
  grid-row: 2/3;
  background: #dda0dd;
  color: white;
}
.box1 img {
  width: 100px;
  height: 200px;
  padding: 20px 30px 10px 30px;
}
.box2 img {
  width: 100px;
  height: 100px;
}
.box3 img {
  width: 100px;
  height: 100px;
}
.blog p {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;

}
.flex__item {
  display: flex;
  justify-content: space-between;
  margin-top: -500px;
}
.blog {
  background-color: #f5f5f5;
  height: 700px;
  width: 100%;
}
.blog__card {
  width: 30%;
}
.card__img img {
  width: 100%;
}
.card__content {
  padding: 15px 25px;
  background-color: white;
}
.card__ttl {
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 400;
}
.card__blog {
  background-color: #c71585;
  margin-bottom: 15px;
  display: inline-block;
  font-size: 14px;
  padding: 10px 10px;
}
.tag {
  font-size: 14px;
  text-align: right;
}
.card__tag {
  display: inline-block;
}
.card__date {
  display: inline-block;
  margin-left: 20px;
}
.btn {
  width: 150px;
  padding: 20px 10px;
  color: #c71585;
  text-align: center;
}
.practice__btn {
  border: 2px solid;
  border-radius: 30px;
  padding: 12px;
  background-color: white;
  display: block;
}
table {
  width: 600px;
}
table th,
table td {
  border: 1px solid#ccc;
  padding: 20px;
}
table th {
  font-weight: bold;
  background-color: #dedede;
}
.footer {
  padding: 30px 400px;
  width: 100%;
  color: grey;
  background-color: #f5f5f5;
}